fastapi
pydantic
pydantic-settings
sqlalchemy
alembic
httpx
apscheduler
uvicorn
starlette
rich
pytest
torch
numpy
setuptools
taoverse
properscoring
pytest-socket
keylimiter
huggingface_hub
safetensors
matplotlib
pandas
wandb
python-dotenv
chutes
