fastapi>=0.110
pydantic>=2
pydantic-settings>=2.0
sqlalchemy>=2.0
alembic>=1.13
httpx>=0.27
apscheduler>=3.10
uvicorn>=0.23
starlette>=0.30.0
rich>=13
pytest>=8
torch>=2
numpy>=1
setuptools>=68
taoverse
properscoring
pytest-socket
keylimiter
temporal
huggingface_hub
safetensors
matplotlib
pandas
wandb
python-dotenv
chutes
