fastapi
pydantic
pydantic-settings
sqlalchemy
alembic
httpx
apscheduler
uvicorn
starlette
rich
pytest
pytest-asyncio
torch
numpy
setuptools
taoverse
properscoring
pytest-socket
keylimiter
temporal
huggingface_hub
safetensors
matplotlib
pandas
wandb
python-dotenv
chutes
bittensor
colorama
joblib
retry
scikit-learn
tqdm
transformers
